<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="ColoredConsole" useDefaultRowHighlightingRules="true" name="console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="console"/>
  </rules>
</nlog>